.feedback-container .feedback {
    background: rgb(177, 39, 39);
    border-radius: 20px;
    line-height: 3em;

    border: 2px black;
    color: white;
}
.feedback-container .feedback button{
    height: 1.5em;
    width: 1.5em;
    line-height: 1em;
    padding: 0;
    border-radius: 50%;
}