.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    background-color: #F6A192;
    color: #EEEEEE;

    text-align: center;
}