/* Ugly scrolling hax */
html, body, #root, .app, main {
  height: 100% !important;
}
body {
  padding-top: 51px !important;
}
.app {
  overflow-y: scroll;
}
.main-page {
  margin-bottom: 130px;
}
/* end chaining */

body {
  margin: 0;
  padding: 0;
}

.row {
  line-height: 2em;
}

.numberCircle {
    border-radius: 50%;

    width: 24px;
    height: 24px;
    padding: 8px;

    background: #EEEEEE;
    border: 2px solid #666;
    color: #5E892C;
    text-align: center;

    font: 16px Arial, sans-serif;
}

/* FORMS */
body input {
  padding-left: 1.5em !important;
}

.form-group input {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* BUTTONS */
body .btn {
  background: #FF7575;
  color: #FFFFFF;
  text-shadow: none;
}

.button-decline {
  background: #9B9B9B !important;
  color: white;
}
body .btn,
body .form-group input {
  border-radius: 30px;
}

body .btn:focus {
  outline: none;
  background: #FF7575;
  color: white;
}



/* FONT CSS */
@font-face {
  font-family: Trebuchet MS;
  src: local("Trebuchet MS"),
       local("Trebuchet MS"),
       url(../fonts/trebuchet_ms.ttf);
  /* font-weight: bold; */
}
body {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif !important;
}

