.row {
  border-bottom: 1px solid;
  border-color: #F7F7F7
}

.no-border {
  border: none;
}

.send-request-button {
  position: absolute;
  bottom: 30px; /*height of footer*/
  width: 100%;
  background-color: white;
  text-align: center;
  padding-bottom: 2px; /* button away from footer*/
}
