.modal-dialog {
  position: absolute;
  top: 45%;
  transform: translate(0%, -50%) !important;
}
.modal-dialog .modal-footer button {
  width: 100%;
}

.modal-dialog .modal-body .row{
  line-height: 1.3em !important;
}