.navbar-header, .navbar-collapse {
  background-color: #F6A192;
}

body .navbar-header {
  text-align: center;
}
body .navbar-brand {
  float: none;
  display: inline-block;
  padding: 15px;
  color: #EEEEEE !important;
}

body .navbar-header button{
  position: absolute;
  left: 1em;
  border: none;
}
body .navbar-toggle:focus {
  background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
  text-shadow: none !important;
}




/* Fixed navbar in order to enable scroll */
body .navbar {
  z-index: 2;
}

.navbar.navbar-default {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  background-color: #F6A192;
  color: #EEEEEE;

  text-align: center;
  z-index: 2;
}