.button-apply {
    width: 100%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin-top: 0.9em;
}

.button-change-picture {
    margin-left: 12px;
}

.updated-text {
    margin-left: 10em;
}

.avatar {
    margin-top: 1em;
}
