.transfer-container .tab-selector>div {
    text-align: center;
    border: 1px solid lightgray;
    border-top: none;
    line-height: 45px;
    height: 45px;
}

.transfer-container div.active {
    color: #FF7575;
}

.transfer-container .transfer-form {
    margin-top: 2em;
}
.transfer-container button {
    width: 100%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin-top: 0.9em;
}